
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}


label {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

#Cname {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

#country-info {
    margin-top: 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    text-align: left;
}

#country-info p {
    margin-bottom: 10px;
}

#country-info img {
    width: 500px;
    height: 200px;
}


#bordering-countries {
    margin-top: 30px;
    padding: 15px;
    text-align: center; 
}

#bordering-countries p {
    margin-bottom: 10px;
}

#bordering-countries img {
    width: 500px;
    height: 200px;
    margin-right: 10px;
}
